[submodule "css/css-video"]
	path = css/css-video
	url = git@github.com:kevinjycui/css-video.git
[submodule "scrabble/scrabble"]
	path = scrabble/scrabble
	url = git@github.com:kevinjycui/Scrapple.git
